USER_AGENT="OBPCrossrefChapterImporter/1.0; mailto:itp@yourdomain.com)"
CROSSREF_ROWS=50
REPORT_DUPLICATES=true
IDENTIFIER_TRANSLATION_SERVICE=http://hirmeos-translator
AUTH_API_ENDP=http://hirmeos-tokens
URI_API_USER=verified_tokens_user@account.com
URI_API_PASS=very_secure_tokens_password
EXCLUDED_DOIS=[]
