IDENTIFIERSDB_PASS=common_secure_password
IDENTIFIERSDB_DB=hirmeos_identifier_translations
IDENTIFIERSDB_USER=hirmeos
API_DEBUG=True
SECRET_KEY=secret_key_for_tokens
PBKDF2_ITERATIONS=10000
ALLOW_ORIGIN=http://localhost:8000
